<div id="welcome-top">
  <div id="animated-typing-container">
    <h1 id="animated-typing"></h1>
  </div>
  <% unless user_signed_in? %>
    <div id="sign-in-form">
      <%= render partial: 'devise/sessions/form', locals: { resource: User.new, resource_name: :user, devise_mapping: Devise.mappings[:user] } %>
    </div>
  <% end %>
</div>
<div id="welcome-about">
</div>
