<div id="map-container">
  <div id="map-canvas">
  </div>
</div>

<div id="court-search-results">
  <% if @limit_result_courts.empty? %>
    <p>No courts found</p>
  <% end %>

  <% @limit_result_courts.each do |court| %>
    <%= render partial: 'courts/result_court', locals: {court: court}  %>
  <% end %>
</div>
