/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

.profile-picture {
  border-radius: 100%;
  height: 42px;
}

#court-search-results {
  text-align: center;
}

.result-court-box {
  display: inline-block;
  height: 220px;
  margin: 30px;
  text-align: center;
  vertical-align: middle;
  width: 250px;
}

.result-court-box img {
  height: 200px;
  width: auto;
}

.result-court-box-inner {
  height: 200px;
  overflow: hidden;
}

.result-court-overlay {
  background: grey;
  color: white;
  height: 50px;
  margin: 0 auto;
  opacity: .8;
  padding: 10px;
  width: 200px;
}

.result-court-footer {
  padding-top: 5px;
}

#map-container {
  height: 300px;
  margin: 10px auto 0 auto;
  width: 80%;
}

#map-canvas {
  height: 100%;
}

@media only screen and (max-width: 630px) {
  .profile-picture {
    display: none;
  }

  .result-court-overlay {
    margin: -50px auto 0 auto;
  }
}
